:root {
    --base: #ffc600;
    --blur: 10px;
    --spacing: 10px;
}
@import url('https://fonts.googleapis.com/css?family=Roboto');


html {
    background: #2B5474;
    color: white;
}
body {
   text-align: center;
   font-family: 'Roboto' , sans-serif;
   letter-spacing: 2px;
   font-weight: 100;
   font-size: 50px;
}
img {
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
    width: 1000px;
    height: 604px;
    margin-top: 50px;
}
.hl {
    color: var(--base);
}

input {
    width: 100px;
}